/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(253, 77, 1);
    color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 8px rgb(253, 77, 1);
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(163, 163, 163);
    text-decoration: none;
    display: inline-block;
    transition: .2s;

}

header a:hover{
    color: white;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;   
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.topo-do-site .txt-topo-site h1{
    color: white;
    font-size: 25px;
}

.topo-do-site .txt-topo-site h2{
    color: rgb(253, 77, 1);
    font-size: 60px;
}

.topo-do-site .txt-topo-site p {
    color: white;
    margin: 10px 0;
    font-size: 20px;
}

.topo-do-site .btn-contato{
    margin-top: 50px;
}

.mensagem {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(253, 77, 1);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    z-index: 1000;
    text-align: center;
    animation: fade-in 0.3s ease-in-out;
}

/* Animação de fade-in para a mensagem */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
